<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.geopeers.app"
        versionCode = "1" 
        version     = "0.9.0" >

  <name>
    Geopeers
  </name>

  <description>
    Share your location.  Stay in control.
  </description>

  <author href="https://www.geopeers.com" email="support@geopeers.com">
    Scott Kaplan
  </author>

  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.contacts" />
  <gap:plugin name="org.apache.cordova.geolocation" />

  <icon src="images/icon_512x512.png" /> <!-- default 512 pixels -->
  <icon src="images/res/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 36 pixels -->
  <icon src="images/res/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 48 pixels -->
  <icon src="images/res/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 72 pixels -->
  <icon src="images/res/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 96 pixels -->
  <gap:splash src="images/res/android/screen-mdpi-portrait.png" /> <!-- default 320x480 pixels -->
  <gap:splash src="images/res/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
  <gap:splash src="images/res/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
  <gap:splash src="images/res/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
  <gap:splash src="images/res/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->

  <!--
  <icon src="https://eng.geopeers.com/images/res/android/ldpi.png"  gap:platform="android" gap:qualifier="ldpi"  />
  <icon src="https://eng.geopeers.com/images/res/android/mdpi.png"  gap:platform="android" gap:qualifier="mdpi"  />
  <icon src="https://eng.geopeers.com/images/res/android/hdpi.png"  gap:platform="android" gap:qualifier="hdpi"  />
  <icon src="https://eng.geopeers.com/images/res/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
  <gap:splash src="https://eng.geopeers.com/images/res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:qualifier="port-ldpi" />
  <gap:splash src="https://eng.geopeers.com/images/res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:qualifier="port-mdpi" />
  <gap:splash src="https://eng.geopeers.com/images/res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:qualifier="port-hdpi" />
  <gap:splash src="https://eng.geopeers.com/images/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi" />
  -->

  <platform name="android">
    <gap:splash src="eng.geopeers.com/images/res/android/screen-hdpi-landscape.png" />
    <gap:splash src="eng.geopeers.com/images/res/android/screen-hdpi-portrait.png" />
    <gap:splash src="eng.geopeers.com/images/res/android/screen-ldpi-landscape.png" />
    <gap:splash src="eng.geopeers.com/images/res/android/screen-ldpi-portrait.png" />
    <gap:splash src="eng.geopeers.com/images/res/android/screen-mdpi-landscape.png" />
    <gap:splash src="eng.geopeers.com/images/res/android/screen-mdpi-portrait.png" />
    <gap:splash src="eng.geopeers.com/images/res/android/screen-xhdpi-landscape.png" />
    <gap:splash src="eng.geopeers.com/images/res/android/screen-xhdpi-portrait.png" />
  </platform>
  <platform name="ios">
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="eng.geopeers.com/images/res/ios/icon-60.png" width="60" height="60" />
    <icon src="eng.geopeers.com/images/res/ios/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="eng.geopeers.com/images/res/ios/icon-76.png" width="76" height="76" />
    <icon src="eng.geopeers.com/images/res/ios/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="eng.geopeers.com/images/res/ios/icon-40.png" width="40" height="40" />
    <icon src="eng.geopeers.com/images/res/ios/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="eng.geopeers.com/images/res/ios/icon.png" width="57" height="57" />
    <icon src="eng.geopeers.com/images/res/ios/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="eng.geopeers.com/images/res/ios/icon-72.png" width="72" height="72" />
    <icon src="eng.geopeers.com/images/res/ios/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="eng.geopeers.com/images/res/ios/icon-small.png" width="29" height="29" />
    <icon src="eng.geopeers.com/images/res/ios/icon-small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="eng.geopeers.com/images/res/ios/icon-50.png" width="50" height="50" />
    <icon src="eng.geopeers.com/images/res/ios/icon-50@2x.png" width="100" height="100" />

    <!-- iPhone and iPod touch -->
    <gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <!-- iPad -->
    <gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <gap:splash src="Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

    <!-- Retina iPad -->
    <gap:splash src="Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
    <gap:splash src="Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />
  </platform>
  <access origin="*"/>
</widget>
