<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.geopeers.app"
        versionCode = "1" 
        version     = "0.9.0" >

  <name>
    Geopeers
  </name>

  <description>
    Share your location.  Stay in control.
  </description>

  <author href="https://www.geopeers.com" email="support@geopeers.com">
    Scott Kaplan
  </author>

  <platform name="android">
    <icon src="eng.geopeers.com/images/res/android/ldpi.png" density="ldpi" />
    <icon src="eng.geopeers.com/images/res/android/mdpi.png" density="mdpi" />
    <icon src="eng.geopeers.com/images/res/android/hdpi.png" density="hdpi" />
    <icon src="eng.geopeers.com/images/res/android/xhdpi.png" density="xhdpi" />

    <icon src="eng.geopeers.com/images/res/android/screen-hdpi-landscape.png" />
    <icon src="eng.geopeers.com/images/res/android/screen-hdpi-portrait.png" />
    <icon src="eng.geopeers.com/images/res/android/screen-ldpi-landscape.png" />
    <icon src="eng.geopeers.com/images/res/android/screen-ldpi-portrait.png" />
    <icon src="eng.geopeers.com/images/res/android/screen-mdpi-landscape.png" />
    <icon src="eng.geopeers.com/images/res/android/screen-mdpi-portrait.png" />
    <icon src="eng.geopeers.com/images/res/android/screen-xhdpi-landscape.png" />
    <icon src="eng.geopeers.com/images/res/android/screen-xhdpi-portrait.png" />
  </platform>
  <platform name="ios">
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="eng.geopeers.com/images/res/ios/icon-60.png" width="60" height="60" />
    <icon src="eng.geopeers.com/images/res/ios/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="eng.geopeers.com/images/res/ios/icon-76.png" width="76" height="76" />
    <icon src="eng.geopeers.com/images/res/ios/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="eng.geopeers.com/images/res/ios/icon-40.png" width="40" height="40" />
    <icon src="eng.geopeers.com/images/res/ios/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="eng.geopeers.com/images/res/ios/icon.png" width="57" height="57" />
    <icon src="eng.geopeers.com/images/res/ios/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="eng.geopeers.com/images/res/ios/icon-72.png" width="72" height="72" />
    <icon src="eng.geopeers.com/images/res/ios/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="eng.geopeers.com/images/res/ios/icon-small.png" width="29" height="29" />
    <icon src="eng.geopeers.com/images/res/ios/icon-small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="eng.geopeers.com/images/res/ios/icon-50.png" width="50" height="50" />
    <icon src="eng.geopeers.com/images/res/ios/icon-50@2x.png" width="100" height="100" />


    <icon src="eng.geopeers.com/images/res/ios/screen-ipad-landscape-2x.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-ipad-landscape.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-ipad-portrait-2x.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-ipad-portrait.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-iphone-landscape-2x.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-iphone-landscape.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-iphone-portrait-2x.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-iphone-portrait.png" width="" height="" />
    <icon src="eng.geopeers.com/images/res/ios/screen-iphone-portrait-568h-2x.png" width="320" height="480" />
  </platform>
</widget>
